<div style="margin: 0 auto">
  <ul class="nav nav-tabs" >
   <li role="Index" class="active"><a href="/printStudent">Home</a></li>
   <li role="AddStudent"><a href="/addStudent">AddStudent</a></li>
   <li role="Quit"><a href="/quit">Quit</a></li>
  </ul>
</div>