<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>
<body>

<div>
    <%if(hintInfo){%>
        <h4><%=hintInfo%></h4>
    <%}%>
</div>
<form action="/add" method="post">
    <div>
        <div><span>姓名：</span><input type="text" name="name"></div>
        <div><span>学号：</span><input type="text" name="stuNo"></div>
        <div><span>名族：</span><input type="text" name="nation"></div>
        <div><span>班级：</span><input type="text" name="classNum"></div>
        <div><span>数学：</span><input type="text" name="math"></div>
        <div><span>语文：</span><input type="text" name="chinese"></div>
        <div><span>英语：</span><input type="text" name="english"></div>
        <div><span>编程：</span><input type="text" name="program"></div>
    </div>

    <div>
        <input type="submit" value="添加学生">
    </div>
</form>

</body>
</html>