<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
    <%- include('./template/header') %>
    <style>
        div {
            margin-bottom: 10px;
        }
    </style>

</head>
<body>
<div style="text-align: center">
    <%- include('./template/nav')%>

    <div>
        <div class="alert alert-danger" id="showHint" role="alert"></div>
    </div>

    <form action="/add" method="post" class="form-inline">
        <div>
            <div><span>姓名：</span><input type="text" class="form-control" id="name" name="name"></div>
            <div><span>学号：</span><input type="text" class="form-control" id="stuNo" name="stuNo"></div>
            <div><span>名族：</span><input type="text" class="form-control" id="nation" name="nation"></div>
            <div><span>班级：</span><input type="text" class="form-control" id="classNum" name="classNum"></div>
            <div><span>数学：</span><input type="text" class="form-control" id="math" name="math"></div>
            <div><span>语文：</span><input type="text" class="form-control" id="chinese" name="chinese"></div>
            <div><span>英语：</span><input type="text" class="form-control" id="english" name="english"></div>
            <div><span>编程：</span><input type="text" class="form-control" id="program" name="program"></div>
        </div>

        <div>
            <input type="button" id="btnAdd" class="form-control btn btn-primary" value="添加学生"
                   style="display: inline-block">
        </div>
    </form>
</div>
<%- include('./template/footer') %>

<script>
    $(() => {
        $('#showHint').hide();

        $('#btnAdd').click(() => {
            let name = $('#name').val();
            let stuNo = $('#stuNo').val();
            let nation = $('#nation').val();
            let classNum = $('#classNum').val();
            let math = $('#math').val();
            let chinese = $('#chinese').val();
            let program = $('#program').val();
            let english = $('#english').val();

            const data = {name, stuNo, nation, classNum, math, chinese, program, english};
            $.post('/student', data, handleAddSuccess);
        });
    });

    const handleAddSuccess = (res) => {
        let $showHint = $('#showHint');
        if (res.message !== 'error') {
            $showHint.text(res.message);
            if($showHint.hasClass('alert-danger')){
                $showHint.removeClass('alert-danger');
            }
            $showHint.addClass('alert-info');
            $('form')[0].reset()
            $showHint.show();
        } else {
            $showHint.text(`请输入正确的学生信息！`);
            if($showHint.hasClass('alertInfo')){
                $showHint.removeClass('alert-info');
            }
            $showHint.addClass('alert-danger');
            $showHint.show();
        }
    }
</script>
</body>
</html>