<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>student management</title>
    <%- include('./template/header') %>

    <style>
        a{
            display: block;
        }
    </style>
</head>
<body>
<div>
 <%- include('./template/nav')%>

    <div class="panel panel-info" style="text-align: center;">
        <div class="panel-heading">
            <h3 class="panel-title">请选择功能</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="/addStudent" class="list-group-item">添加学生</a>
                <a href="/printStudent" class="list-group-item">生成成绩单</a>
                <a href="/quit" class="list-group-item">退出</a>
            </div>

        </div>
        <div class="panel-footer">
            <%if(hintInfo !== ''){%>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><%= hintInfo %></strong>
                </div>
            <%}%>
        </div>
    </div>
</div>
<%- include('./template/footer') %>
</body>
</html>