<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>student management</title>
</head>
<body>
<div>
    <p>
    <ul style="list-style: none">
        <% data.split('\n').map(item => { %>
        <li><%= item %></li>
        <% }) %>
    </ul>
    </p>
    <form action="/" method="post">
        <input type="text" name="input" id="inputData">
        <input type="submit">
    </form>
</div>
</body>
</html>