<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>student management</title>

    <style>
        li {
            list-style: none;
        }
    </style>
</head>
<body>
<div>
    <div>
        <span><%=hintInfo%></span>
    </div>
    <div>请选择功能：</div>
    <div>
        <ol>
            <li><a href="/add">添加学生</a></li>
            <li><a href="/print">生成成绩单</a></li>
            <li><a href="/quit">退出</a></li>
        </ol>
    </div>
</div>
</body>
</html>