<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
    <%- include('./template/header') %>
</head>
<body>
<div style="text-align: center;">
<form action="/print" method="post">
    <div>
        <div>
            <% if(hintInfo !== ''){ %>
             <div class="alert alert-danger" role="alert"><%= hintInfo %></div>
            <% }else{ %>
            <div class="alert alert-info" role="alert">请输入要打印的学生的学号（格式：学号，学号,...）</div>
            <% } %>
        </div>
        <div>
            <input type="text" class="form-control" name="stuNos">
        </div>
    </div>

    <div style="margin-top: 10px;">
        <input  class="btn btn-primary" type="submit" value="查询成绩" style="display: inline-block">
        <a href="/" class="btn btn-info">返回首页</a>
    </div>
</form>
</div>
<%- include('./template/footer') %>
</body>
</html>