<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>
<body>
<form action="/print" method="post">
    <div>
        <div>
            <% if(hintInfo !== ''){ %>
                <span><%= hintInfo %></span>
            <% }else{ %>
                <span>请输入要打印的学生的学号（格式：学号，学号,...）</span>
            <% } %>
        </div>
        <div>
            <input type="text" name="stuNos">
        </div>
    </div>

    <div>
        <input type="submit" value="查询成绩">
    </div>
    <div>
        <a href="/">返回首页</a>
    </div>
</form>

</body>
</html>