<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
    <% if(printInfo){ %>
        <p>
        <ul>
            <%printInfo.split('\n').map(item => { %>
            <li>
                <%= item %>
            </li>
            <% }) %>
        </ul>
        </p>
    <% }else{ %>
    <span>没有需要显示的数据！</span>
    <% } %>
    </div>

    <div>
        <a href="/">返回首页</a>
    </div>
</div>
</body>
</html>